@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --base-color: #faf4d4;
  --primary-color: #025f00;
  --secondary-color: #4f3a35;
}

*{
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--base-color);
  background: rgb(229, 243, 227);
  background: linear-gradient(137deg, rgb(219, 225, 214) 0%, rgb(237, 237, 237) 16%, rgb(208, 240, 206) 100%);
}

h1{
  font-family: 'Nunito Sans', cursive;
}

h2{
  font-family: 'Antic Didone', serif;
}

#hero-slider h1{
  font-family: 'Nunito Sans';
  font-size: 1.8rem;
  text-shadow: black 0px 0px 5px;
}
#hero-slider h2{
  font-family: 'Nunito Sans';
  font-size: 1.2rem;
  text-shadow: black 0px 0px 5px;
}

a{
  display: inline-block;
  vertical-align: middle;
  align-items: center;

}

input::placeholder, textarea::placeholder {
  font-weight: bold;
  font-size: 1.2em;
  opacity: 0.8;
}

dialog {
	padding: 0 0 0 0em;
	border-radius: 0.5rem;
	border:1px solid #ccc;
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);
	overflow: auto;
	font-size: larger;
  background-color: rgb(204, 212, 198);
}

dialog::backdrop {
	background: linear-gradient(0deg, rgb(25, 80, 0), rgb(100, 105, 0));
	opacity: 0.6;
}

#closeDialog {
	margin:0 auto;
	display: block;
	width: 100%;
	position:sticky;
	top: 0;
}

dialog button {
	width: 100%;
}
dialog div {
	padding: 1em;
	width: 100%;
	height: 90%;
}
